Host 192.168.122.*
#    HostName kvm.mshome.net
#    User jason
   IdentityFile ~/.ssh/id_rsa
   StrictHostKeyChecking No
#    HostKeyAlgorithms rsa-sha2-256

Host localhost
#    HostName kvm.mshome.net
#    User jason
   IdentityFile ~/.ssh/id_rsa
   StrictHostKeyChecking No
#    HostKeyAlgorithms rsa-sha2-256